<style>
   body {
    font: sans-serif;
    text-align: center;
  }
  #logo {
   color: rgb(0,150,250);
   font-size: 100px;
    margin: 5px;
  }
   #materialDisplay {
    color: rgb(255, 100, 100);
    font-size: 40px;
    margin: 5px;
  }
  #currentLayers {
    font-size: 30px
    marign: 5px
  }
   #button {
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
    font-size: 15px;
  }
   #d_worker-button {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-size: 15px;
  }
   #s_worker-button {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-size: 15px;
   }
   #new-clay-button {
     background-color: rgb(100,100,100);
     color: rgb(255, 200, 255);
    }
  </style>
