<style>
ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
	display: inline;
}
#npcd {
	
}
button {
	border-style: dashed;
	border-width: 2px;
	border-color: rgb(122,117,117);
	font-color: rgb(0,0,0);
	font-family:"Inconsolata", monospace;
	display: inline;
	background-color: rgb(255,255,255);
}
.active {
	background-color: rgb(0,0,0);
}
#title {
	font-size: 50px;
}
body {
	text-align: center;
	font-family:"Inconsolata", monospace;
}
.whitespace {
	white-space: pre;
}

</style>
