<style>
ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
	display: inline;
}
.active {
	background-color: rgb(0,0,0);
}
#title {
	font-size: 50px;
}
body {
	text-align: center;
	font-fa-mily:"Inconsolata", monospace;
}
.whitespace {
	white-space: pre;
}

</style>
